<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="visaaApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Visualization of Alignment Algorithms</title>
  <meta name="description" content="Visualization of Alignment Algorithms">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/pure-min.css">
  <link rel="stylesheet" href="css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <div id="container">

    <div id="header"> 

          <div id="header-logo"> VISAA </div>
          <div id="header-text"> <span>VIS</span>ualization of <span>A</span>lignment <span>A</span>lgorithms </div>

    </div>

    <div id="content"> 
<div id="content-container" class=" clearfix">
  <div class="inline"     id="left-options">
    <form class="pure-form">
       <fieldset>

        <div class="section" id="algorithm-selection" ng-controller="AlgorithmController">
          <div class="section-header">
            Select algorithm:
          </div>
           <div class="section-content" ng-class="{'section-set': isSet()}">
               <input type="radio" value="needleman-wunch" ng-model="value" ng-click="set()" ng-disabled="isSet()"> Needleman-Wunch<br>
               <input type="radio" value="smith-waterman" ng-model="value" ng-click="set()" ng-disabled="isSet()"> Smith-Waterman
           </div>
        </div>
        <div class="section" id="input-selection" ng-controller="InputController">
          <div class="section-header">
            Input data:
          </div>
           <div class="section-content" ng-class="{'section-set': isSet()}">
                  <input type="radio" value="file" ng-click="set()" ng-model="value" ng-disabled="isSet()"> From File<br>
                  <input type="radio" value="user" ng-click="set()" ng-model="value" ng-disabled="isSet()"> User Input <br>
                  <input type="radio" value="generated" ng-click="set()" ng-model="value" ng-disabled="isSet()"> Autogenerate <br>
           </div>
        </div>
        <div class="section" id="score-selection" ng-controller="ScoreController">
          <div class="section-header">
            Score type:
          </div>
           <div class="section-content " ng-class="{'section-set': isSet()}">
                  <input type="radio" name="score-type" value="simple" ng-click="set()" ng-model="value" ng-disabled="isSet()"> Simple<br>
                  <input type="radio" name="score-type" value="matrix" ng-click="set()" ng-model="value" ng-disabled="isSet()"> Punishment/Prize Matrix
           </div>
        </div>
        <div class="section" id="punishment-selection" ng-controller="PunishmentController">
          <div class="section-header">
            Punishment type:
          </div>
           <div class="section-content" ng-class="{'section-set': isSet()}">
                  <input type="radio" name="punishment-type" value="linear" ng-click="set()" ng-model="value" ng-disabled="isSet()"> Linear<br>
                  <input type="radio" name="punishment-type" value="affine" ng-click="set()" ng-model="value" ng-disabled="isSet()"> Affine
           </div>
        </div>
        <div class="section" id="work-mode-selection" ng-controller="WorkModeController">
          <div class="section-header">
            Work mode:
          </div>
           <div class="section-content" ng-class="{'section-set': isSet()}">
                  <input type="radio" name="work-type" value="fast" ng-click="set()" ng-model="value" ng-disabled="isSet()"> Quick Result<br>
                  <input type="radio" name="punishment-type" value="visualization" ng-click="set()" ng-model="value" ng-disabled="isSet()"> Vizualization
           </div>
        </div>
       </fieldset>
     </form>
  </div>
  <div class="inline" id="right-options" ng-controller="AdditionalParamsController">
      Additional info for {{ getCurrentFieldName() }}, actual value {{ getCurrentFieldValue() }}
      <br/>
      <button class="pure-button pure-button-primary" ng-click="doneCurrentField()">Done</button>
  </div>
</div>
        <div class="section">
          <button class="pure-button pure-button-primary">Start</button>
        </div>




    </fieldset>
</form>

    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app/app.js"></script>
</body>
</html>